.profile-customization-header-content {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.profile-customization-header-title {
    display:flex;
    flex-direction: row;
    gap: 10px;
}

.cs-watch-logo {
    width: 30px;
    height: 30px;
}

.cs-watch-link-title {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    font-weight: 400;
}

.is-autoflagged {
    color: #e71c1d;
    background: #16161670;
    font-size: 12px;
    text-transform: uppercase;
    padding: 0 13px;
    border-radius: 6px;
    font-weight: 500;
    display: none;
}

.copy-cs-watch-stats-to-clipboard {
    color: #ababab;
    background: #16161670;
    font-size: 12px;
    text-transform: uppercase;
    padding: 0 13px;
    border-radius: 6px;
    font-weight: 500;
}

.copy-cs-watch-stats-to-clipboard:hover {
    color: #fff;
    background: #161616;
    cursor: pointer;
}

.cs-watch-stats-container {
    padding: 15px !important;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.cs-watch-stats-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cs-watch-stats-item-value {
    font-size: 16px;
    color: #fff;
}

.cs-watch-stats-item-label {
    font-size: 11px;
    color: #afafaf;
    text-transform: uppercase;
}

.faceit-filter-button {
    background: #1f202c;
    color: #a8a8a8;
    border: 1px solid #1f202c;
    border-radius: 100px;
    height: 30px;
    font-size: 13px;
    margin: auto 0;
    padding: 4px 12px;
    transition: background 0.15s ease, color 0.15s ease, border-color 0.15s ease;
    display: none;
}

.faceit-filter-button:hover {
    background: #17181c;
    color: #ffffff;
}

.filter-applied {
    background: #ea580c;
    color: #ffffff;
}

.filter-applied:hover {
    background: #c2410c;
    color: #ffffff;
}

.analysis-version {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #4ade80;
    background-color: #16a34a33;
    border: 1px solid #22c55e4d;
    border-radius: .375rem;
    font-size: .75rem;
    line-height: 1rem;
    padding: .25rem .5rem;
    font-weight: 400;
}
